<div class="lilnav visible-xs-block visibile-sm-block" style="padding-top:50px;">
	<div class="btn-group-vertical visible-xs-block visibile-sm-block" role="group" aria-label="Mobile Nav Index" style="margin:10px 0;">
		<button type="button" class="btn btn-dark pop filter sort" data-sort="random" data-toggle="tooltip" data-placement="left" title="Shuffle"><span class="glyphicon glyphicon-refresh"></span></button>
		<button type="button" class="btn btn-dark tint"><span class="glyphicon glyphicon-adjust"></span></button>
	</div>

	<div class="btn-group-vertical visible-xs-block visibile-sm-block" role="group" aria-label="Mobile Nav Index">
		<button type="button" data-filter="all" class="btn btn-dark active filter"><span class="glyphicon glyphicon-th-list"></span></button>
		<button type="button" data-filter=".chair" class="btn btn-dark filter"><span class="glyphicon glyphicon-th-large"></span></button>
		<button type="button" data-filter=".gov" class="btn btn-dark filter"><span class="glyphicon glyphicon-th"></span></button>
	</div>
</div>