<div id="container" class="text-center">
	<div class="col-xs-6 col-md-12">
		<% @members.each do |member| %>
			<div class="mix <%= "#{member.sort}" %>" style="margin:10px; cursor:pointer;">
				<%= image_tag member.photo.url, class: "poop img-rounded thumbnail darker", data: { toggle: "popover", placement: "top", content: "#{member.title}", title: "#{member.name}"} %>
				<% if admin_signed_in? %>
					<div class="btn-group">
						<%= link_to "Edit", edit_member_path(member), class: "btn btn-default btn-sm" %>
						<%= link_to "Delete", member, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm" %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>


